<html>
<head>
    <style type="text/css">
        html {
            margin:    0 auto;
            max-width: 700px;
        }
        .row {
            display: -webkit-box; /* wkhtmltopdf uses this 
            -webkit-box-pack: center; /* wkhtmltopdf uses this one */
            -webkit-box-pack: justify;
            
        }
            
        .mt-3 {
                margin-top: 5px;
            }
         
        
        
        
        
    </style>
</head>
<body>
    <center>
        <h1>Digital Printing</h1>
    </center>
    <div class="row">
        <div>
            <table>
                <tr>
                    <td>Pembeli</td>
                    <td>:</td>
                    <td>Aris Anggara Putra</td>
                </tr>
                <tr>
                    <td>No Hp</td>
                    <td>:</td>
                    <td>089674761189</td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td>Invoice</td>
                    <td>:</td>
                    <td>asdg2g8gygasd</td>
                </tr>
                <tr>
                    <td>Tanggal Pembelian</td>
                    <td>:</td>
                    <td>2023/04/19</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>:</td>
                    <td>Pending</td>
                </tr>
            </table>
        </div>
    </div>
    <center>
        <table border class="mt-3">
            <tr>
                
                <th>#</th>
                <th>Produk</th>
                <th>Qty</th>
                <th>Harga Satuan</th>
                <th>Total harga</th>
            </tr>
            <tr>
                <td>1</td>
                <td>TEst</td>
                <td>10</td>
                <td>1000</td>
                <td>10000</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td>Total Harga :</td>
                <td>Rp. 1000000</td>
            </tr>
        </table>
        
    </center>
    
</body>
</html>